<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee_Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/main.css">

</head>
<body>
<br>

<div class="container">
    <h3>Employee Info.</h3>
    <hr>
    <form  th:action="@{/saveemployee}" th:object="${Employee_Info}" method="POST">
        <div class="form-group col-md-2">
            <label>First name* :</label>
        </div>
        <div class="form-group col-md-4">
            <input type="text"  field="*{employee_fname}" name="firstName" class="form-control" id="employee_fname" placeholder="Employee fname"  >
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label> Last name* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text"  field="*{employee_lname}" name="lastName" class="form-control" id="employee_lname" placeholder="Employee lname">
            </div>



            <div class="form-group col-md-2">
                <label>Email* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text"  field="*{email}" name="email" class="form-control" id="email" placeholder="Email"  >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label> Phone* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text"  field="*{phone}"  name="phone" class="form-control" id="phone" placeholder="Phone">
            </div>


            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Designation* :</label>
                </div>
                <div>

                    <select name="designation"  name="designation" class="form-control">
                        <option th:each="designation :${designations}"
                                th:text="${designation}">
                    </select>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label>Department* :</label>
                    </div>
                    <div>

                        <select name="department" class="form-control">
                            <option th:each="department :${department}"
                                    th:text="${department}">
                        </select>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label>Employee Type* :</label>
                        </div>
                        <div>

                            <select  name="empType"  class="form-control">
                                <option th:each="empType :${empType}"
                                        th:text="${empType}">
                            </select>
                        </div>
                        <div style="margin-left:45%;">
                            <button type="submit" class="btn btn-primary col-2" >Save</button>

                            <button type="clear" class="btn btn-warning">Cancel</button>
                        </div>
    </form>
</div>

</body>
</html>