<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee_Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">

</head>
<body>
<br>

<div class="container">
    <h3>Employee Info.</h3>
    <hr>
    <form th:action="@{/saveEmployee}" th:object="${employee_information }"   method="POST" onsubmit="return (mySave())"
          enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group ">
                <label>First Name :</label>
                <input type="text" name="firstName" class="form-control"  id="first_name" placeholder="First Name">
                <label>Last Name :</label>
                <input type="text" name="lastName" class="form-control" id="last_name" placeholder="Last Name">

            </div>
        </div>
        <div class="form-row">
            <div class="form-group ">
                <label>Email :</label>
                <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                <label>Phone :</label>
                <input type="text" name="phone" class="form-control"   id="phone" placeholder="Phone">

            </div>
        </div>

        <div class="form-row">
            <div class="form-group ">
                <label>Designation* :</label>
                <select name="designation" id="designation"  class="form-control">
                    <option value="SE">SE</option>
                    <option value="SSE">SSE</option>
                    <option value="TL">TL</option>
                    <option value="STL">STL</option>
                    <option value="PM">PM</option>
                    <option value="VP">VP</option>
                </select>

                <label>Empolyee_type* :</label>
                <select name="empType" id="Empolyee_type"   class="form-control">
                    <option value="Full-Time">Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                    <option value="Contract">Contract</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group ">
                <label>Department* :</label>
                <select name="department" id="department"  class="form-control">
                    <option value="Engineering">Engineering</option>
                    <option value="HR">HR</option>
                    <option value="IT">IT</option>
                    <option value="Cloud">Cloud</option>
                </select>

                <label hidden> </label>
            </div>
            <div class="form-group ">
                <input type="text" class="form-control" style="visibility: hidden;">
            </div>
        </div>

        <div style="margin-left:45%;">
            <button type="submit" class="btn btn-primary col-2">Save</button>
            <button type="clear" class="btn btn-warning">Clear</button>
        </div>
    </form>

</div>
<script>
function ValidateEmail(email)
{
 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(myForm.emailAddr.value))
  {
    return (true)
  }
    alert("You have entered an invalid email address!")
    return (false)
}

function mySave()
{

    var first_name=document.getElementById("firstName").value;

    var last_name=document.getElementById("lastName").value;
    var email=document.getElementById("email").value;
    var phone=document.getElementById("phone").value;
    var designation=document.getElementById("designation").value;
    var Empolyee_type=document.getElementById("empType").value;

    var table=document.getElementById("data_table");
    var table_len=(table.rows.length)-1;

   if(firstName==null)
   {
    alert("enter the first name!");
    return false;
    }
    if(lastName==null)
   {
    alert("enter the last name!");
    return false;
    }
    if(email==null)
   {
    alert("enter the email!");
    return false;
    }
    if(phone==null)
   {
    alert("enter the phone!");
    return false;
    }
    if(designation==null)
   {
    alert("enter the designation!");
    return false;
    }
    if(department==null)
   {
    alert("enter the department!");
    return false;
    }
    if(empType==null)
   {
    alert("enter the Empolyee_type!");
    return false;
    }


</script>

</body>
</html>