<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
            $(document).ready(function() {
            $('#MyTable').DataTable();
    } );
</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" href="table-sortable.css" />

    <script src="jquery.slim.min.js"></script>

    <script src="table-sortable.js"></script>

</head>

<body>
<br>
<div class="container">

    <h3>Employee List.</h3>
    <hr>

    <a href="showNewEmployeeForm">
        <button type="button" class="btn btn-primary" style="float: right;margin-bottom: 10px;">Add new Employee</button>
    </a>
    <table id="MyTable" class="table table-bordered table-striped">

        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Designation</th>
            <th scope="col">Type</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="employeelist: ${employeelists}">
            <td th:text="${employeelist.id}"/>
            <td th:text="${employeelist.firstName}"/>
            <td th:text="${employeelist.email}"/>
            <td th:text="${employeelist.phone}"/>
            <td th:text="${employeelist.designation}"/>
            <td th:text="${employeelist.empType}"/>
            <td th:text="${employeelist.department}"/>

            <td><a th:href="@{/showFormForUpdate/{id}(id=${employeelist.id})}"><i class='fa fa-edit'
                                                                                    style='font-size:24px'></i></a>
                <a th:href="@{/deleteEmployee/{id}(id=${employeelist.id})}"><i class='fa fa-trash'
                                                                                style='font-size:24px'></i></a></td>


            <a th:href="@{/date/{id}(id=${employeelist.id})}"><i class='far fa-calendar-alt'
                                                                       style='font-size:24px'></i></a></td>

        </tr>
        </tbody>

    </table>
</div>
</body>

</html>