<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create_meeting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/main.css">

</head>
<body>
<br>

<div class="container">
    <h3>Create Meeting.</h3>
    <hr>
    <form  th:action="@{/saveemployee}" th:object="${Employee_Info}" method="POST">
        <div class="form-group col-md-2">
            <label>Meeting title* :</label>
        </div>
        <div class="form-group col-md-4">
            <input type="text"  field="*{meeting_title}"  name="title" class="form-control" id="meeting_title" placeholder="meeting title "  >
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label> Event Color* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text"  field="*{event_color}"  name="Colour" class="form-control" id="event_color" placeholder="Event Color">
            </div>



            <div class="form-group col-md-2">
                <label>Start Date* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="date"  field="*{start_date}"  name="start" class="form-control" id="start_date" placeholder="Start date"  >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label> End Date* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="date"  field="*{end_date}"  name="end" class="form-control" id="end_date" placeholder="End Date">
            </div>


            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Location* :</label>
                </div>
                <div>

                    <select name="Location"  class="form-control">
                        <option th:each="Location :${Location}"
                                th:text="${Location}">
                    </select>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label>Invitees* :</label>
                    </div>
                    <div>

                        <select  name="invitees" class="form-control">
                            <option th:each="invitees :${invitees}"
                                    th:text="${invitees}">
                        </select>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label> Meeting link* :</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text"  field="*{meeting_link}"  name="meeting_link" class="form-control" id="meeting_link" placeholder="Meeting link">
                        </div>




                        <div style="margin-left:45%;">
                            <button type="submit" class="btn btn-primary col-2" >Save</button>
                            <!--            <button type="submit" class="btn btn-primary" onclick="click();" >Save</button>-->
                            <button type="clear" class="btn btn-warning">Cancel</button>
                        </div>
    </form>
</div>

</body>
</html>