<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee_Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">

</head>
<body>
<br>

<div class="container">
    <h3>Employee Info.</h3>
    <hr>
    <form th:action="@{/saveEmployee}" th:object="${employee_information }"   method="POST" onsubmit="return (mySave())"
          enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group ">
                <label>Meeting title* :</label>
                <input type="text" name="title" class="form-control"  id="title" placeholder="Meeting title">
                <label>Event Color*</label>
                <input type="text" name="Colour" class="form-control" id="Colour" placeholder="Event Color">

            </div>
        </div>
        <div class="form-row">
            <div class="form-group ">
                <label>Start Date*</label>
                <input type="text" name="start" class="form-control" id="start" placeholder="Start Date">
                <label>End Date* </label>
                <input type="text" name="end" class="end"   id="phone" placeholder="End Date">

            </div>
        </div>

        <div class="form-row">
            <div class="form-group ">
                <label>Location*  :</label>
                <select name="location" id="location"  class="form-control"  placeholder="Location">
                    <option value="SE">Dubai</option>
                    <option value="SSE">USA</option>
                    <option value="TL">LA</option>
                    <option value="STL">Italy</option>

                </select>

                <label>Invitees* :</label>
                <select name="invitees"  class="form-control" id="invitees"  placeholder="invitees">
                    <option value="Charlie">Charlie</option>
                    <option value="Charls">Charls</option>
                    <option value="Chirpie">Chirpie</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group ">
                <label>Meeting link* :</label>
                <input type="text" name="meeting_link" class="form-control"  id="meeting_link" placeholder="Meeting link ">
            </div>
            <div class="form-group ">
                <input type="text" class="form-control" style="visibility: hidden;">
            </div>
        </div>

        <div style="margin-left:45%;">
            <button type="submit" class="btn btn-primary col-2" >update</button>
            <button type="submit" class="btn btn-primary col-2">delete</button>
            <button type="clear" class="btn btn-warning">Cancel</button>
        </div>
    </form>

</div>
