<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Invoice List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">

</head>

<body>
<br>
<div class="container">

    <h2>Update Invoice Info</h2>
    <hr>
    <form th:action="@{/updateInvoice}" th:object="${invoice_information}" method="POST" onsubmit="return (mySave())">

        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Bill To* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="bill_to" id="bill_to" class="form-control" th:value="${invoiceInfo.bill_to}">
                    <option value="Charlie">Charlie</option>
                    <option value="Charls">Charls</option>
                    <option value="Chirpie">Chirpie</option>
                    <option value="Chochu">Chochu</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Invoice Date* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" name="invoice_date"   class="form-control"
                       id="invoice_date" placeholder="Invoice Date" th:value="${invoiceInfo.invoice_date}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Invoice#* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" name="invoice" class="form-control"   id="invoice"
                       placeholder="Invoice (INV-0001)" th:value="${invoiceInfo.invoice}">
            </div>
            <div class="form-group col-md-2">
                <label>Due Date* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="date" name="due_date" class="form-control" id="due_date"
                       placeholder="Due Date" th:value="${invoiceInfo.due_date}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Status* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="status" id="status" class="form-control" th:value="${invoiceInfo.due_date}">
                    <option value="Draft">Draft</option>
                    <option value="Save">Save</option>
                    <option value="Paid">Paid</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label hidden>** :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" style="visibility: hidden;">
            </div>
        </div>

        <button type="submit" class="btn btn-info col-2" style="margin-left:45%;"> Update</button>
    </form>


</div>


</body>

</html>