<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Invoice List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
            $(document).ready(function() {
            $('#MyTable').DataTable();
    } );
</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" href="table-sortable.css" />

    <script src="jquery.slim.min.js"></script>

    <script src="table-sortable.js"></script>

    <!--    <script th:src="@{/js/script.js}"></script>-->
</head>

<body>
<br>
<div class="container">

    <h3>Invoice List.</h3>
    <hr>

    <a href="invoice">
        <button type="button" class="btn btn-primary" style="float: right;margin-bottom: 10px;">Add new Invoice</button>
    </a>
    <table id="MyTable" class="table table-bordered table-striped">

        <thead>
        <tr>
            <th scope="col">Invoice No</th>
            <th scope="col">Bill To</th>
            <th scope="col">Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="invoicelist: ${invoicelists}">
            <td th:text="${invoicelist.invoice}"/>
            <td th:text="${invoicelist.bill_to}"/>
            <td th:text="${invoicelist.invoice_date}"/>
            <td th:text="${invoicelist.due_date}"/>
            <td th:text="${invoicelist. status}"/>
            <td th:text="${invoicelist.grand_total1}"/>
            <td><a th:href="@{/showForUpdate/{id}(id=${invoicelist.invoice})}"><i class='fa fa-edit'
                                                                                  style='font-size:24px'></i></a>
                <a th:href="@{/deleteInvoice/{id}(id=${invoicelist.invoice})}"><i class='fa fa-trash'
                                                                                  style='font-size:24px'></i></a></td>


        </tr>
        </tbody>

    </table>
</div>
</body>

</html>